:root {
  --title-size: 2rem;
  --paragraph-size: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  background-color: black;
}

/* HEADER */

header {
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .title-head,
nav {
  margin: 0 10%;
}

header .title-head {
  filter: drop-shadow(0 0 3px);
}

/* NAV */
nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 3rem;
}

nav a {
  color: white;
  text-decoration: none;
  opacity: 0.5;
  transition: 0.3s;
}

nav a:hover {
  opacity: 1;
}

/* MAIN */

/* SECTION */
.section-1 {
  display: flex;
  justify-content: space-evenly;
  height: 40em;
  align-items: center;
  background-image: url(../img/black-pattern.jpg);
  background-size: cover;
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 30%);
  -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 30%);
}

.section-1 div {
  margin-top: 4rem;
}

.hero img {
  width: 20em;
  filter: drop-shadow(0 0 20px);
}

.hero-article h1 {
  color: black;
  font-size: 3.25rem;
  margin-bottom: 1rem;
  filter: drop-shadow(0 0 5px white);
}

.hero-article p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: black;
  filter: drop-shadow(0 0 5px white);
}

.hero-article button {
  height: 3.5em;
  padding: 0 2rem;
  border-radius: 100px;
  background-color: #0069d9;
  color: white;
  border: 1px solid black;
}

.hero-article button:hover {
  background-color: #005cbf;
}

/* SECTION 2 */

.section-2 {
  height: 40em;
  display: flex;
  align-items: center;
}

.section-2 .skills-title {
  text-align: center;
  font-size: var(--title-size);
  margin: 2rem 0;
  filter: drop-shadow(0 0 2px);
}

.section-2 .skills-form {
  margin: 0 10rem;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: black;
  margin-bottom: 3.25rem;
}

.skills-form .form {
  width: 30%;
  background-color: white;
  box-shadow: 0 0 10px 5px white;
}

.skills-form .form img {
  border-bottom: 5px solid black;
  padding: 1.5rem;
}

.skills-form .form p {
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5rem;
  padding: 1rem 2rem;
}

/* SECTION 3 */

.section-3 {
  display: flex;
  align-items: center;
  height: 40em;
  background-image: url(../img/black-pattern.jpg);
  background-size: cover;
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 1) 15%);
  -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 1) 15%);
}

.section-3 .service-title {
  text-align: center;
  font-size: var(--title-size);
  margin: 2rem 0;
  filter: drop-shadow(0 0 5px white);
  color: black;
}

.section-3 .service-form {
  margin: 0 10rem;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: white;
  margin-bottom: 7rem;
}

.service-form .form {
  width: 30%;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px 5px black;
}

.service-form .form img {
  border-bottom: 5px solid white;
  padding: 2rem;
}

.service-form .form h3 {
  text-align: center;
  text-transform: uppercase;
  line-height: 2rem;
  padding: 1rem 2rem;
  font-size: 1.75rem;
}

.service-form button {
  height: 2rem;
  padding: 0 2rem;
  border-radius: 100px;
  background-color: #0069d9;
  color: white;
  border: 1px solid black;
  margin-bottom: 1rem;
}

.service-form button:hover {
  background-color: #005cbf;
}

.overlay {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  width: 0;
  height: 0;
  overflow: hidden;
  top: 7em;
  left: 13em;
}

.overlay:target {
  background-color: rgba(0, 0, 0, 0.9);
  right: 13em;
  bottom: 7em;
  width: auto;
  height: auto;
  transition: 0.5s;
}

.overlay .close {
  color: red;
  width: 2em;
  height: 2em;
  background-color: white;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 1.25rem;
}
.overlay .close:hover {
  background-color: red;
  color: white;
}

.overlay h3 {
  padding: 2rem 0 1rem;
  width: fit-content;
  margin: auto;
  border-bottom: 5px solid white;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.overlay p {
  text-transform: none;
  text-align: justify;
  font-size: var(--paragraph-size);
  line-height: 2rem;
}

.overlay .content-overlay {
  padding: 2rem 4rem 4rem;
}

/* SECTION 4 */

.section-4 {
  display: flex;
  align-items: center;
  height: 40em;
}

.section-4 .about-title {
  text-align: center;
  font-size: var(--title-size);
  margin: 2rem 0;
  filter: drop-shadow(0 0 2px);
}

.section-4 .about-form {
  background-color: white;
  margin: 0 10rem;
  display: flex;
  text-align: justify;
  color: black;
  margin-bottom: 4rem;
  line-height: 2rem;
  font-size: var(--paragraph-size);
  padding: 2rem 4rem;
  box-shadow: 0 0 10px 5px white;
}

/* SECTION 5 */
.section-5 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 35em;
  background-image: url(../img/black-pattern.jpg);
  background-size: cover;
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 1) 15%);
  -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 1) 15%);
}

.section-5 .contact {
  width: 40%;
}

.section-5 .contact-text {
  height: 27.5em;
}

.contact-text .contact-title h1 {
  padding: 0 0 2rem 0;
  text-transform: uppercase;
}

.contact-text .contact-description p {
  font-size: var(--paragraph-size);
}

.contact-form .input-title {
  text-align: center;
  margin: 1.5rem 0 0;
  font-size: 2rem;
  filter: drop-shadow(0 0 5px white);
  color: black;
}

.contact-form .input-form form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.contact-form form label {
  margin: 1.5rem 0 0.5rem;
}

.contact-form form input {
  height: 1.5em;
  background: transparent;
  border: none;
  border-bottom: 3px solid white;
  outline: none;
  color: white;
}

.contact-form form input#message {
  height: 7em;
}

.contact-form .input-form button {
  height: 2.5rem;
  padding: 0 2rem;
  margin: 2rem 0;
  border-radius: 100px;
  background-color: #0069d9;
  color: white;
  border: 1px solid black;
}

.contact-form .input-form button:hover {
  background-color: #005cbf;
}

.contact-text .contact-title {
  text-align: center;
  margin: 1.25rem 0 0;
  font-size: 1.5rem;
  filter: drop-shadow(0 0 5px white);
  color: black;
}

footer {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  filter: drop-shadow(0 0 2px);
}
